body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow:hidden;

}

.background {
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#7a81ff 0.5px, transparent 0.5px), radial-gradient(#7a81ff 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    position:fixed;
    width: 100%;
    height:100vh;
    z-index:-1
}

.logo-tiny {
    font-size:.9rem;
    margin-top:.3rem;
    margin-left:.5rem;
    color: rgb(62, 62, 62);
}

.center-questions {
    width:50%;
    margin:0 auto;
    height:60vh;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:2rem;
    overflow: hidden;
    margin-top:5rem;
}


.center-white {
    width:100%;
    height:100vh;
    background-color: #ffffff;
    padding:2rem;
    /* position:relative; */
    z-index:-1;
    border-right: 1px solid black;
}

.center-menu {
    width:80%;
    margin-left:15%;
    height:80vh;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:2rem;
    margin-top:5rem;   
}

.center-chat {
    width:90%;
    margin-right:15%;
    height:80vh;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:2rem;
    margin-top:5rem;   
}

.chat {
    width:100%;
    max-height:70vh;
    padding:1rem;
    overflow: auto;
}

.chat-input {
    position: absolute;
    bottom: .2rem;
    background-color: white;
    margin:.4rem;
    padding:.2rem;
    padding-right:0px;
    margin-right:0px;
    width: 95%;
}

.chat-bubble-large {
    width:90%;
    margin: 0 auto;
    margin-top:1rem;
    background-color: rgb(223, 223, 223);
    border-radius: 4px;
    padding:.6rem;
}

.chat-bubble {
    width:50%;
    border-radius: 10px;
    padding:.6rem;
    margin:.5rem;
}

.chat-caller {
    background-color: #ffffff;
    float:right;
    border: 1px solid #e6e6e6;
}

.chat-callee {
    background-color: #4b0067;
    float:left;
    color:white;
}

.call-icon {
    text-align: center;
    font-size:3rem;
    color: rgb(169, 169, 169);
}

.navbar {
    position:fixed;
    width:90%;
}

.center-full {
    width:100%;
    height:100vh;
    /* background-color: #abc4ff; */
    padding:2rem;
    overflow: hidden;
}

.center-mini {
    width:50%;
    margin:0 auto;
    height:60vh;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:2rem;
    overflow: hidden;
    margin-top:10rem;
}

.phone-card {
    background-color:#16347b;
    backdrop-filter: blur(10px);
    border-radius: 4px;
    color:white;
    margin:.5rem;
    padding:1rem;
    width: 100%;
}

.phone-heading {
    background:transparent;
    margin:0rem;
    width: 100%;
}

.scroll-y {
    overflow-y:auto;
    overflow-x: hidden;
    padding:1rem;
    max-height:70vh;
    width:100%;
    margin:0 auto;
    margin-top:5rem
}

.d-flex {
    display: flex;
    align-items: center;
} 

.card-text {
    color:white;
    font-size:.8rem;
    letter-spacing: 2px;
    font-weight: 100;
}

.profile-photo {
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    color:rgb(0, 0, 0);
    background-color: #fff;
    /* border: 1px solid #ffffff; */
}

.card-body {
    margin:0rem;
    padding:0rem;
}

.phone-btn {
    float:right;
    border-radius: 50% !important;
    background: transparent;
    color:rgb(103, 103, 103);
    height:3rem;
    width:3rem;
    font-size:1.5rem;
    padding:0px !important;
    margin:0px !important;
    line-height: 3rem;
    border:1px solid rgb(103, 103, 103);
}

.phone-btn:hover {
    border:1px solid rgb(255, 255, 255);
    color:#ffffff;
}

.nav-link:hover {
    color: #70ABAF;
}

.nav-link.active,
.nav-link:active {
  background-color: #4361ee !important;
}

.nav-link,
.nav-link {
  color: #ffffff !important;
}