{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <!-- call container -->
        <div class="center-questions">
            <h5 style="text-align: center;">About You</h5>
            <hr>
            <form action="/questions" method="POST">
                <input type="hidden" name="call_id" value="{{call_id}}">
                {% for i in [1,2,3] %}
                <div class="row mb-3">
                    <div class="col">
                        <textarea type="tel" class="form-control" id="number" name="number" disabled>Question {{i}}</textarea>
                    </div>
                    <div class="col">
                        <textarea type="text" class="form-control" id="recipient" name="recipient" placeholder="Response" required></textarea>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-dark">Save</button>
            </form>
        </div>
    </div>
</div>

<script>
    function copy_contact(recipient, number) {
        document.getElementById("number").value = number;
        document.getElementById("recipient").value = recipient;
    }
</script>


{% endblock %}
